@import "tailwindcss";

@theme {
  --font-title: "Source Serif 4", serif;
  --font-base: "Inter", sans-serif;
}

.optical-sizing-none {
  font-optical-sizing: none;
}

.entry:hover .entrytitle {
  color: var(--color-cyan-400);
}
.entry:hover article {
  color: white;
}
.entry:hover .entrylinks {
  background-color: var(--color-gray-700);
}
.entry:hover figure {
  background-color: var(--color-gray-800);
}

nav a div{
  border: 2px solid transparent;
}
nav a div.current{
  border: 2px solid white;
}
nav a:hover div{
  border: 2px solid var(--color-cyan-400);
}

button.gallery-clicked .popout{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}
button.gallery img:hover {
  filter: brightness(1.4);
}
button.gallery .hide-first {
  display: none;
}
button.gallery img:hover {
  filter: brightness(1.4);
}
button.gallery-clicked .hide-first {
  margin: auto;
  width: 90%;
  height: 90%;
  max-height: 90%;
  object-fit: contain;
}
button.gallery-clicked popout {
  margin: auto;
  width: 90%;
  height: 90%;
  max-height: 90%;
  object-fit: contain;
}